/* Normalize */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 	display: block;
}

a {
	text-decoration: none;
	display: inline-block;
	color: #fff !important;
}

body {
  line-height: 1;
  font-family: "proxima-nova", sans-serif;
  padding-top: 47px;
}

ol, ul {
  list-style: none;
}

.ui-sortable-helper {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

h1, h2, h3, h4, h5, p, input {
  font-family: "proxima-nova", sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

h3, h4, h5 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-weight: 100;
  font-size: 14px;
  line-height: 22px;
}

a {
  font-family: "proxima-nova", sans-serif;
  font-size: 14px;
  font-weight: 100;
}

a:hover, button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

.form-container {
	font-family: "proxima-nova", "Helvetica", Helvetica, sans-serif;
	width: 80%;
	max-width: 500px;
	margin: 140px auto 50px auto;
	text-align: center;

	h1 {
		background: image-url("logo.png") no-repeat;
		background-size: contain;
		background-position: center;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 100%;
		height: 70px;
		margin-bottom: 50px;
	}

	p {
		font-size: 18px;
		color: #ccc;
		margin-bottom: 30px;
	}

	form {
		padding: 15px;
		font-weight: 100;

		input {
			padding: 0 5%;
		}

		input[type="text"] {
			width: 90%;
			height: 46px;
			line-height: 50px;
			margin-bottom: 5px;
			border: none;
			color: #000;
			background: rgba(255,255,255,0.3);
			font-size: 20px;
		}

		input[type="submit"] {
			width: 100%;
			height: 50px;
			line-height: 54px;
			font-size: 20px;
			color: #fff;
			border: none;
			background: rgba(39,46,62,0.95);
		}

		::-webkit-input-placeholder {
		   color: #222;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: #222;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: #222;  
		}

		:-ms-input-placeholder {  
		   color: #222;  
		}
	}
}

#background {
	background: image-url("bg.jpg");
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-position: center center;
	background-repeat: no-repeat;
}

@media only screen 
  and (max-width: 667px) {
  	.form-container {
  		margin: 40px auto 50px auto;
  	}
}